<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/home"></ion-back-button>
      {{contactName}}
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-item *ngFor="let message of messages">
    <ion-icon name="person-circle" [color]="message.entrante ? 'primary':'success'" [slot]=" message.entrante ? 'start':'start'"></ion-icon>
    <ion-label class="ion-text-wrap">
      <ion-row>
        <ion-col>
          <h2>
            <ng-container *ngIf="message.entrante; else elseEntrante">
              {{message.emisorUser.nombres + ' ' + message.emisorUser.apellidos}}
            </ng-container>
            <ng-template #elseEntrante>
              Tú
            </ng-template>
          </h2>
        </ion-col>
        <ion-col>
          <span class="date">
            <ion-note>{{ message.fecha|date:'M-d-yy h:m'}}</ion-note>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-padding">
            <p>
              {{message.contenido}}
            </p>
          </div>
        </ion-col>
      </ion-row>

    </ion-label>

  </ion-item>



</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="9">
        <ion-input placeholder="Escribe un mensaje" [(ngModel)]="newMessage.contenido"></ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button color="success" (click)="enviarMensaje()">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>
