<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{bienvenida}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        {{bienvenida}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-message *ngFor="let contact of contactos|async" [contact]="contact"></app-message>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col >
        <div padding>
          <ion-button  size="large"  (click)="logout()" color="danger"  expand="block">Cerrar Sesión</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer>
